{% extends "base.html" %}
{% load static %}
{% block title %}Iniciar sesión - Liberalia{% endblock %}

{% block content %}
<div class="card shadow-sm auth-card p-3 p-md-4">
  <div class="text-center mb-3">
    <img src="{% static 'img/logo_liberalia.jpg' %}" class="brand-logo" alt="Liberalia">
  </div>

  <h5 class="text-center mb-3">Inicio de Sesión</h5>

  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }} mb-3" role="alert">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}

  <form method="post" class="needs-validation" novalidate>
    {% csrf_token %}

    <div class="mb-3">   
      <input type="email" name="email" id="id_email" class="form-control" placeholder="Correo"
             required autocomplete="email" value="{{ form.email.value|default:'' }}">
      <div class="invalid-feedback">Ingresa un correo válido</div>
    </div>

    <div class="mb-2">
      <input type="password" name="password" id="id_password" class="form-control" placeholder="Contraseña"
             required minlength="6" autocomplete="current-password">
      <div class="invalid-feedback">Debe ingresar password</div>
    </div>

    <div class="text-end mb-3">
      <a href="#" class="link-secondary small">¿Has olvidado tu contraseña?</a>
    </div>

    <div class="d-grid">
      <button type="submit" class="btn btn-dark rounded-4 py-2">Iniciar sesión</button>
    </div>
  </form>
</div>
{% endblock %}
